.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
}

.block {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.block1 {
    height: 50vh;
    width: 50%;
    min-width: 400px;
    background-color: deepskyblue;
}

.block2 {
    width: 50%;
    height: 50vh;
    min-width: 400px;
    background-color: darkseagreen;
}

.block3 {
    width: 50%;
    height: 50vh;
    min-width: 400px;
    background-color: indianred;
}

.block4 {
    width: 50%;
    height: 50vh;
    min-width: 400px;
    background-color: deepskyblue;
}